html{
	height:100%;
}

body{
	background-color: #1D1D1D;
	height:100%;
}

p{
	color: white;
}

a, a:hover, a:visited, a:active, a:link{
	
	color:white;
	
	text-decoration: none;
}

.navlink_active {
	color: white !important;
	/*
	background-color: #666;
	*/
	background-color: #333;
}


@media screen and (min-width: 0px) { 

	.navlink{
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
		font-size: 1em;
		margin-left: 5px;
		margin-right: 5px;
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		border-bottom-width: 0px;
		transition: 0.1s;
	}

	.nav_separator{
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
		font-size: 1.5em;
		display: inline-block;
		color:white;
	}
	
	.nav_icon{
		display: none;
	}

	.navlink_full{
		display: none;
	}

	.dropdown_link{
		color:white !important;
		font-family: 'Open Sans', sans-serif !important;
		vertical-align: middle !important;
		font-size: 1em !important;
	}

	.dropdown_link_active{

		/*
		background-color: #666
		*/
		background-color: #333 !important;
	}

	.dropdown_link:hover{
		/*
		background-color: #222;
		*/
		background-color: #666 !important;
	}

	.link_navbar{
		color:white;
	}

	.home_link{
		line-height: 15vh;
		vertical-align: middle;
		font-family: 'Oswald', sans-serif;
	    font-size: 2em;
	    text-align: center;f
	    color: white;
	}

	.section_title{
		margin-top:25px;
	    font-family: 'Oswald', sans-serif;
	    font-size: 2em;
	    text-align: center;
	    color: white;
	}

	.photo_preview_grid{
		margin-top: 5vh;
		margin-left: auto;
		margin-right: auto;
		width:90vw;
	}

	.photo{
		max-height: 90vh;
		max-width: 90vw;
		height: auto;
		width: auto;
	}

	.hello_title{
	    margin-top:15px;
	    margin-left:10px;
	    font-family: 'Oswald', sans-serif;
	    font-size: 4em;
	    text-align: left;
	    color: white;
	    vertical-align: middle;
	    line-height: 15vh;
	}

	.hello_profil{
	    margin-top:15px;
	    margin-right: 10px;
	    margin-left: auto;
	    margin-right: auto;
	    float: right;
	    height: auto;
	    width: 15vh;
	    line-height: 15vh;
	}

	.header{
		text-align: center;
	}


	.fp-next{
		top: 95vh;
	}

	.fp-prev{
		top: 95vh;
	}

}

@media screen and (min-width: 768px) { 

	.navlink{
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
		font-size: 1.2em;
		margin-left: 10px;
		margin-right: 10px;
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		border-bottom-width: 0px;
		transition: 0.1s;
	}

	.nav_separator{
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
		font-size: 1.5em;
		display: inline-block;
		color:white;
	}

	.nav_icon{
		display: inline-block;
		float:right;
		height:32px;
		width:32px;
	}

	.link_navbar{
		color:pink;
	}

	.dropdown_link{
		color:white !important;
		font-family: 'Open Sans', sans-serif !important;
		vertical-align: middle !important;
		font-size: 1.2em !important;
	}

	.dropdown_link_active{

		/*
		background-color: #666
		*/
		background-color: #1D1D1D;
	}

	.dropdown_link:hover{
		/*
		background-color: #222;
		*/
		background-color: #666 !important;
	}

	.home_link{
		line-height: 15vh;
		vertical-align: middle;
		font-family: 'Oswald', sans-serif;
	    font-size: 3em;
	    text-align: center;
	    color: white;
	}

	.navlink_full{
		display: none;
	}

	.section_title{
		margin-top:25px;
	    font-family: 'Oswald', sans-serif;
	    font-size: 3em;
	    text-align: center;
	    color: white;
	}

	.photo_preview_grid{
		margin-top: 15vh;
		margin-left: auto;
		margin-right: auto;
		width:85vw;
	}

	.photo{
		max-height: 85vh;
		max-width: 85vw;
		height: auto;
		width: auto;
	}



	.hello_title{
	    margin-top:25px;
	    font-family: 'Oswald', sans-serif;
	    font-size: 6em;
	    text-align: left;
	    color: white;
	    line-height: 18vh;
	    vertical-align: middle;
	    margin-left: 10px;
	}

	.hello_profil{
		margin-top: 25px;
	    margin-right: 10px;
	    height: auto;
	    width: 18vh;
	    line-height: 18vh;
	    vertical-align: middle;
	}

	.fp-next{
		top: 50vh;
	}

	.fp-prev{
		top: 50vh;
	}


}

@media screen and (min-width: 992px) { 

	.navlink{
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
		font-size: 1.2em;
		margin-left: 10px;
		margin-right: 10px;
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		border-bottom-width: 0px;
		transition: 0.1s;
	}

	.link_navbar{
		color:yellow;
	}

	.dropdown{
		display: none;
	}

	.nav_separator{
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
		font-size: 1.2em;
		display: inline-block;
		color:white;
	}

	.nav_icon{
		display: inline-block;
		float:right;
		height:32px;
		width:32px;
	}

	.home_link{
		line-height: 15vh;
		vertical-align: middle;
		font-family: 'Oswald', sans-serif;
	    font-size: 3em;
	    text-align: center;
	    color: white;
	}

	.section_title{
		margin-top:25px;
	    font-family: 'Oswald', sans-serif;
	    font-size: 3em;
	    text-align: center;
	    color: white;
	}

	.photo_preview_grid{
		margin-top: 15vh;
		margin-left: auto;
		margin-right: auto;
		width:85vw;
	}

	.photo{
		max-height: 90vh;
		max-width: 90vw;
		height: auto;
		width: auto;
	}



	.hello_title{
	    margin-top:0px;
	    font-family: 'Oswald', sans-serif;
	    font-size: 5.5em;
	    text-align: center;
	    color: white;
	}

	.hello_profil{
	    margin-top:60px;
	    margin-right: 0px;
	    text-align: center;
	    height: auto;
	    width: 18vh;
	    vertical-align: center;
	    float:none;
	}



	.fp-next{
		top: 50vh;
	}

	.fp-prev{
		top: 50vh;
	}

}

@media screen and (min-width: 1200px) {  

	.navlink{
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
		font-size: 1.2em;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
		border-bottom-width: 0px;
		transition: 0.1s;
	}

	.link_navbar{
		color:red;
	}

	.nav_separator{
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
		font-size: 1.2em;
		display: inline-block;
		color:white;
	}

	.dropdown{
		display: none;
	}

	.nav_icon{
		display: inline-block;
		height:32px;
		width:32px;
	}

	.home_link{
		line-height: 15vh;
		vertical-align: middle;
		font-family: 'Oswald', sans-serif;
	    font-size: 4em;
	    text-align: center;
	    color: white;
	}

	.section_title{
		margin-top:25px;
	    font-family: 'Oswald', sans-serif;
	    font-size: 4em;
	    text-align: center;
	    color: white;
	}

	.photo_preview_grid{
		margin-top: 15vh;
		margin-left: auto;
		margin-right: auto;
		width:85vw;
		padding: 0px !important;

	}

	.hello_title{
		margin: 0px;
	    font-family: 'Oswald', sans-serif;
	    font-size: 5.5em;
	    text-align: center;
	    color: white;
	}

	.photo{
		max-height: 90vh;
		max-width: 90vw;
		height: auto;
		width: auto;
	}

	.hello_profil{
		margin-top: 80px;
		margin-right: 0px;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	    height: auto;
	    width: 18vh;
	    vertical-align: center;
	    float:none;
	}



	.fp-next{
		top: 50vh;
	}

	.fp-prev{
		top: 50vh;
	}

}

.header{
    top:0px;
    position: fixed;
    height: 50px;
    line-height: 50px;
    display: block;
    width: 100%;
    z-index: 9;
    /*
    background-color: #444;
	*/
	background-color: #1D1D1D;
}


.dropdown-menu{
	/*
	background-color: #444;
	*/
	background-color: #1D1D1D;
}

.navlink:hover{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #fff;
	transition: 0.1s;
}

.navlink_active, .navlink_active:hover{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #fff;
}



.section{
	text-align: center;
	height:100%;
}

#section_hello{
	height: 80%;
	position: relative;
    text-align: center;
}

.hello_text{
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.hello_line{
    font-family: 'Open Sans', sans-serif;
    font-size:1.2em;
    line-height: 2em;
    margin-top: 35px;
    text-align: justify;
    text-justify: inter-word;
}

.hello_bottom{
	position: absolute;
	bottom: 0px;	
	text-align: center;
	width: 100%;
}

.hello_arrow_down{
	display: block;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}




.row{
	margin-left: auto;
    margin-right: auto;
}

.col-md-12{
	padding: 0px !important;
}


.footer{
	height:100px;
	margin-left: auto;
	margin-right: auto;
	line-height: 100px;
	text-align: center;
}

.footer_link{
	vertical-align: middle;
	text-align: center;
}

.footer_link:hover{
	text-decoration: none;

}

.social_header_link{
	z-index: 10;
	position: absolute;
	width: 32px;
	height: 32px;
	text-align: center;
	display: inline-block;
	right:0px;
	top:8px;
}

.footer_icon{
	width: 32px;
	height: 32px;
	text-align: center;
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
}

#header_icon_500px{
	background-image: url('500px.png');
	background-size: 32px 32px;
	margin-right:79px;
}

#header_icon_flickr{
	background-image: url('flickr.png');
	background-size: 32px 32px;
	margin-right:42px;
}

#header_icon_instagram{
	background-image: url('instagram.png');
	background-size: 32px 32px;
	margin-right:5px;
}



#icon_500px{
	background-image: url('500px.png');
	background-size: 32px 32px;
}

#icon_flickr{
	background-image: url('flickr.png');
	background-size: 32px 32px;
}

#icon_instagram{
	background-image: url('instagram.png');
	background-size: 32px 32px;
}

.slide_00{
	-webkit-transform: translate(0%,-10%);
	-ms-transform: translate(0%,-10%);
	transform: translate(0%,-10%);
}





.cell{
	overflow: hidden;
	height:20vh;
	display: inline-block;
}

.photo_preview{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;

	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);

	-webkit-filter: brightness(80%);
	filter: brightness(80%);
}

.photo_preview:hover{
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
	transition: 0.1s;
}

.nav_head {
	z-index: 15;
	background-image: url('../img/profil.png');
	background-size: 100%;
	height:36px;
	width:36px;
	margin-right:5px;
	margin-top: 6px;
	display: inline-flex;
	vertical-align: top;
}



.home_card{
	height:18vh;
	cursor:pointer;
}



#home_architecture{
	background-image: url('../img/home/architecture.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

#home_portrait{
	background-image: url('../img/home/portrait.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

#home_paysage{
	background-image: url('../img/home/paysage.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

#home_street{
	background-image: url('../img/home/street.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

#home_divers{
	background-image: url('../img/home/divers.jpg');
	background-repeat: no-repeat;
	background-position: center;
}